// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

// <TextEditor>
.gcl {
  .marker-error {
    background: rgba(200, 50, 50, 0.5) !important;
  }
}

// <Panel>
.gcl-panel {
  // For hiding React components
  .hidden { display: none }


	font-size: var(--editor-font-size) !important;
	line-height: var(--editor-line-height) !important;

  // font-size: 120%;

  .gcl-header {
    font-size: 100%;
    margin: 0;
    padding: @component-padding * 2 @component-padding;
  }

  .gcl-body {
    margin: 0 @component-padding @component-padding @component-padding;
    padding: @component-padding;
    background: @base-background-color;

    max-height: 300px;

    overflow-y: scroll;

    .gcl-plain-text {
      p:last-of-type {
        margin-bottom: 0
      }
    }

    .gcl-proof-obligation-list {
      padding: 0;

      li {
        margin-bottom: @component-padding;
      }
    }
  }
}
